
@media screen {

body {
  background-color: #D8D8D8;
}

h1 {
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lobster';
  font-size: 40px;
}
p {
  font-weight: bolder;
  font-size: 16px;
  color: darkgrey;
  font-family: 'Press Start 2P';
}




form {
  border: 2px solid black;
  padding: 5px;
  width: 350px;
  margin: auto;
  background-color:white;
}

input[type=text]{
  float: right;
  width: 200px;
  height: 25px;
  border: 0.5px solid black;
  font-size: 16px;
  font-family: 'Press Start 2P';
}

input[type=checkbox]{
  height: 20px;
  width: 20px;
}

label {
  font-family: 'Press Start 2P';
  font-size: 16px;
}
button {
  margin-top: 20px;
  width: inherit;
  border: 1px solid black;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P';
  height: 35px;
}

select {
  width: inherit;
  height: 30px;
  font-size: 16px;
  font-family: 'Press Start 2P';
  margin-bottom: 25px;
}

#paw {
 display: none;
}

#name {
  display:none;
}

#result {
  display: none;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 25px;
  margin-right: 25px;
}
}




@media print {
body {
  border: 5px dotted #33cccc;
  padding: 5px;
  margin: 15px;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 250px;
  margin-right: 250px;
}

  textarea {
    display: none;
  }

select {
  display: none;
}

input {
  display: none;
}

  button {
    display: none;
  }

  p {
  font-family: courier;
  margin-left: 250px;
  margin-right: 250px;
  }

  select {
    display: none;
  }

  #ssid {
    display: none;
  }

  #pw {
    display: none;
  }

  #paw {
    font-family: courier;
    font-size: 35px;
    color: #33cccc;
  }


  #name {
    font-family: courier;
    font-size: 35px;
    color: #33cccc;

  }

  .screen {
    display: none;
  }


  input[type=checkbox].hidden{
     display:none;
  }

  label {
    display:none;
  }

  a[href]:after {
  content: none !important;
}

@page {
  margin: 0;
}

}
